<h1>Urls#index</h1>
<p>Find me in app/views/urls/index.html.erb</p>


<form action="/urls" method="post">
  Enter a URL: <input type="text" name="link" /><br />
  <input type="submit" value="Submit" />
</form>
